:host .day-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 8rem;
    color: black;
    border: 1px solid rgba(255, 127, 0, 0.2);
    font-size: 2rem;
    font-weight: 700;
    transition: 0.2s background-color ease-in-out;
}

:host .day-wrapper.selected,
:host .day-wrapper:hover {
    background-color: rgba(255, 127, 0, 0.3);
    color: white;
}