<mat-list *ngIf="days" class="month-grid">
    <mat-list-item *ngFor="let day of days">
        <app-day [numberInMonth]="day"
        [selected]="isDaySelected(day)"
        (mouseDown)="handleMouseDown($event)"
        (mouseUp)="handleMouseUp($event)"
        (mouseEnter)="handleMouseEnter($event)"></app-day>
    </mat-list-item>
</mat-list>