@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-list, .mat-list-item {
    height: fit-content !important;
}

.mat-list-item-content {
    width: fit-content !important;
    height: fit-content !important;
    padding: 0.5px !important;
}